body {
	background: "#fff";
	font-family: 'Monoton', cursive;
  text-align: center;
}

header:before {
	font-size: 32px;
	content: "sound LAB";
	margin: 0px;
}

#canvas  {
	background: transparent;
	margin: auto;
	display: block;
}

#controls {
	font-family: 'Quicksand', sans-serif;
	margin-top: 8px;
  margin: auto;
  display: block;
  width: 575px;
}

#controls p {
  text-align: left;
  padding: 0;
  margin: 0;
}

#playButton {
	font-size: 34px;
  position: absolute;
  left: 250px;
  top: 5px;
  cursor: pointer;
}

#playButton:hover {
	color: #A020F0;
}

#playButton:active {
	color: #350066;
}

#clearButton:hover {
	color: #A020F0;
}

#clearButton:active {
	color: #350066;
}

#clearButton {
	font-size: 34px;
	position: absolute;
	left: 300px;
	cursor: pointer;
}

#cauldron {
	position: relative;
  margin: auto;
  width: 500px;
}

#cauldron img {
	position: relative;
}

#under-grid {
	position: absolute;
	top: 25px;
	left: -275px;
}

#sliders {
	font-family: 'Quicksand', sans-serif;
	position: absolute;
	background: transparent;
  top: 88px;
  left: 149px;
	width: 220px;
}

#slider {
	display: flex;
	align-items: center;
}

#slider input{
	-webkit-appearance: none;
	height: 1px;
	background: #350066;
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;
}

#slider input::-webkit-slider-thumb{
  -webkit-appearance:none;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background: #99ffca;
  border: 2px solid #A020F0;
  z-index: 3;
  cursor: pointer;
}

#radios {
	text-align: center;
	margin: auto auto;
}

#waveforms {
	font-family: 'Quicksand', sans-serif;
	position: absolute;
	top: 0px;
	left: 460px;
}

/*BUBBLES*/
@keyframes greenPulse {
  0% {box-shadow:0 0 30px #4bbec8}
  50% {box-shadow:0 0 80px #4bbec8}
  100% {box-shadow:0 0 30px #4bbec8}
}

#beaker {
	position: absolute;
	bottom: -5px;
}

div#bubble-container span.glow {
  width:100%;
  height:100%;background: transparent;
  position:relative;
  display:block;
	border: 1px black solid;
  border-radius:200px;
  animation:greenPulse 2s infinite;
  -webkit-animation:greenPulse 2s infinite;
  -moz-animation:greenPulse 2s infinite;
  -o-animation:greenPulse 2s infinite;
}

@keyframes bubbleUp {
  0% {bottom:110px;-webkit-transform:scale(.9);opacity:0}
  1% {bottom:110px;-webkit-transform:scale(.3);opacity:0}
  30% {bottom:110px;-webkit-transform:scale(.8);opacity:0.7}
  95% {bottom:400px;-webkit-transform:scale(.3);opacity:0.5}
  100% {bottom:400px;-webkit-transform:scale(.3);opacity:0.3}
}
div#bubble-container span.bubble {
  background:#fff;
  width:80px;
  height:80px;
  position:absolute;
  display:block;
  left:130px;
  bottom:110px;
  border-radius:100px;
  background:-moz-radial-gradient(center 45deg, circle closest-corner, rgba(75,190,200,0), rgba(75,190,200,.1), rgba(75,190,200,.3), rgba(255,255,255,.7));
  background:-webkit-gradient(radial, center center, 0, center center, 100, from(rgba(75,190,200,.2)), to(rgba(255,255,255,.7)));
  background:gradient(center 45deg, circle closest-corner, rgba(75,190,200,0), rgba(75,190,200,.1), rgba(75,190,200,.3), rgba(255,255,255,.7));
  background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,0) 0%, rgba(9,133,167,0.1) 51%, rgba(9,133,167,0.3) 71%, rgba(9,133,167,.7) 100%);
  animation:bubbleUp 5s infinite ease-in-out;
  -webkit-animation:bubbleUp 5s infinite ease-in-out;
  -o-animation:bubbleUp 5s infinite ease-in-out;
  -moz-animation:bubbleUp 5s infinite ease-in-out;
}
