body {
	background: "#fff";
	font-family: 'Monoton', cursive;
  text-align: center;
}

header:before {
	font-size: 32px;
	content: "";
	margin: 0px;
}

#canvas  {
	background: transparent;
	margin: auto;
	display: block;
}

#controls {
	font-family: 'Quicksand', sans-serif;
	margin-top: 8px;
  margin: auto;
  display: block;
  width: 575px;
}

#controls p {
  text-align: left;
  padding: 0;
  margin: 0;
}

#playButton {
	font-size: 34px;
  position: absolute;
  left: 250px;
  top: 5px;
  cursor: pointer;
}

#playButton:hover {
	color: #A020F0;
}

#playButton:active {
	color: #350066;
}

#clearButton:hover {
	color: #A020F0;
}

#clearButton:active {
	color: #350066;
}

#clearButton {
	font-size: 34px;
	position: absolute;
	left: 300px;
	cursor: pointer;
}

#cauldron {
	position: relative;
  margin: auto;
  width: 500px;
}

#cauldron img {
	position: relative;
}

#under-grid {
	position: absolute;
	top: 25px;
	left: -275px;
}

#sliders {
	font-family: 'Quicksand', sans-serif;
	position: absolute;
	background: white;
  top: 88px;
  left: 149px;
	width: 220px;
}

#slider {
	display: flex;
	align-items: center;
}

#slider input{
	-webkit-appearance: none;
	height: 1px;
	background: #350066;
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;
}

#slider input::-webkit-slider-thumb{
  -webkit-appearance:none;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background: #99ffca;
  border: 2px solid #A020F0;
  z-index: 3;
  cursor: pointer;
}

#radios {
	text-align: center;
	margin: auto auto;
}

#waveforms {
	font-family: 'Quicksand', sans-serif;
	position: absolute;
	top: 0px;
	left: 460px;
}
